
@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Orbitron:wght@400..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: "Manrope", sans-serif;
}

.nav-item a:active {
  background-color: grey;
  border-radius: 5px;
}
.doctors {
  height: 150px;
  object-fit: cover;
}
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}
.login {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.user-login {
  width: 100%;
  height: 100vh;
  position: relative;
}

.user-login img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  display: block;
}
.user-content {
  position: absolute;
  top: 25%;
  left: 10%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 500px;
  gap: 20px;
  padding: 20px 10px;
  text-align: center;
}
.user-content input {
  outline: 0;
  border: 0;
  text-align: center;
  position: relative;
}
.user-content input::after {
  content: "";
  width: 75px;
  height: 3px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(23, 124, 229);
}

.login {
  outline: 0;
  background: #81bbc9;
  background: linear-gradient(
    90deg,
    rgb(59, 108, 107) 0%,
    rgb(142, 140, 137) 100%
  );
  border: 0;
  padding: 10px;
}
.butn {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100px;
  margin-inline: auto;
}
.dashboard-main {
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 10px;
}

.h-100 {
  height: 100% !important;
}

.dashboard-main-content{
  width: 100%;
  display: flex;
}
.dashboard-left {
  width: 20%;
  background-color: #f8fbfc;



}
.dash-left-logo{
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(218, 218, 218);
  
}
.dash-left-logo img{
  width: 80px;
}
.dashboard-left a {
  display: flex;

  padding-left: 10px;
  padding-block: 7px;
  outline: 0;
  text-decoration: none;

  border-radius: 5px;
  text-align: center;
  color: black;
}
.dashboard-left a:focus {
  background-color: rgb(255, 255, 255);
  color: black;
}
.dashboard-right{
    width:80%;
    padding:30px;
    height: 100vh !important;
    overflow-y: scroll;
  

}
.report{
    margin-top: 30px;
}

.form-inputs{
  padding: 20px;

  background-color: rgb(222, 222, 222);
  
  width: 50%;
  margin-inline:auto;





  

}
.form-item{
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-item input{
  outline: 0;
  border: 0;
}

.dashboard-right-inventory{
  width: 100%;
 
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  
}
.dashboard-right-option{
  padding: 10px;
}
.dashboard-right-option a{
  border: 1px solid black;
  padding: 5px 10px;
  outline: 0;
  text-decoration: none;
  color: black;
  border-radius: 5px;
  
}
.dashboard-right-content-section{

     
  
}
.d-padding{
  padding-block: 20px;
}

/* Dashoboard- left */
.dashboard-left .dashboard{
  font-size: 20px;

}
.dash-left-item{
  padding: 10px;
  margin-block: 10px;
}

.dashboard-link{
  display: flex;
}
.table-button a{

  background-color: rgb(184, 184, 184);
  padding: 5px;
  border-radius: 5px;
  

}