
{% extends 'dashboardbase.html' %}

 {% block right_heading %}
 <h2>Booking</h2>

            {% endblock %}

 {% block content %}


<div class="table-items">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Patient Name</th>
        <th scope="col">Gender</th>
        <th scope="col">Age</th>
        <th scope="col">Diagnosis</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {%for b in booking %}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{b.p_name}}</td>
        <td>{{b.p_phone}}</td>
        <td>{{b.P_email}}</td>
        <td>{{b.P_email}}</td>
        <td>{{b.P_email}}</td>
        <td>{{b.P_email}}</td>
        <td>
          <!-- Button trigger modal -->
          <button
            type="button"
            class="btn btn-light"
            data-bs-toggle="modal"
            data-bs-target="#exampleModal"
          >
            update
          </button>

          <!-- Modal -->
          <div
            class="modal fade"
            id="exampleModal"
            tabindex="-1"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">
                    Modal title
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form action="{% url 'update_booking' b.id %}" method="POST">
                    {% csrf_token %}
                    <div class="booking-input">
                      <label>Name:</label>
                      <input type="text" value="{{b.p_name}}" name="p_name" />
                    </div>

                    <div class="booking-input">
                      <label>Phone:No:</label>
                      <input type="text" value="{{b.p_phone}}" name="p_phone" />
                    </div>

                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                      <button type="submit" class="btn btn-primary">
                        Save changes
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>

          <!-- Button trigger modal -->

          <button
            type="button"
            class="btn btn-dark"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
          >
            Delete
          </button>

          <!-- Modal -->
          <div
            class="modal fade"
            id="staticBackdrop"
            data-bs-backdrop="static"
            data-bs-keyboard="false"
            tabindex="-1"
            aria-labelledby="staticBackdropLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">
                    Modal title
                  </h1>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <p>Are you Sure to Delete</p>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <a
                    type="button"
                    class="btn btn-primary"
                    href="{% url 'delete-booking' b.id %}"
                    >Delete</a
                  >
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>

<!-- Modal -->

{% endblock %}
