{% extends 'dashboardbase.html' %}
 {% block right_heading %} 
 <h2 class="fw-bold">Home</h2>
 {% endblock %}

{% block content %}


<div class="container text-center report">
  <div class="row">
    <div class="col">
      <p>Total Patient</p>
      <h5>{{patientcount}}</h5>
    </div>
    <div class="col">
      <p>consulation</p>
      <h5></h5>
    </div>
    <div class="col">
      <p>Procedure</p>
      <h5>64</h5>
    </div>
    <div class="col">
      <p>Payment</p>
      <h5>28700</h5>
    </div>
  </div>
</div>
       
{% endblock %}
