{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/style.css?v=4" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />

  </head>
  <body>
    <section class="dashboard-main">
      <div class=" dashboard-main-content">
        <div class="dashboard-left container d-padding">
          <div class="dash-left-logo">
            <img src="/static/images/ilaj Dental Care Logo.png" alt="logo" />
          </div>

          <div class="dashboard-link">
           
            <a href="{% url 'dashboardhome' %}"
            class="dashboard">Dashboard</a>
          </div>
          <div class="dash-left-item">
            <h6 class="text-muted">Clinic</h6>
            <a href="{% url 'dashboarddoctor' %}"
              >Doctors</a>
            <a href="{% url 'dashboardpatient'%}"
              >Patient
            </a>
            <a href="{% url 'dashboardexpense'%}"
              >Expense</a>
            <a href="{% url 'dashboardbooking' %}"
              >Booking</a>
          </div>
          <div class="dash-left-item">
            <h6 class="text-muted">Finance</h6>
            <a href="">Accounts</i></a>
            <a href="">Sales</i></a>
            <a href="">Purchase</i></a>
          </div>
          <div class="dash-left-item">
            <h6 class="text-muted">Physical Asset</h6>
          
            <a href="">Peripherels</a>
            <a href="">Testimonial</i></a>
          </div>

          <a href="">Logout</a>
        </div>

        <div class="dashboard-right">
          <div class="dashboard-right-inventory p-3 mb-4 sticky-top bg-white">
            <div class="dashboard-right-heading">
              {% block right_heading %} {% endblock %}
            </div>
            <div class="dashboard-right-option">
              {% block right_options %} {% endblock %}
            </div>
          </div>

          <div class="dashboard-right-content-section">
            {% block content %} {% endblock %}
          </div>
        </div>
      </div>
    </section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>


  </body>
</html>
