{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/static/css/style.css?v=3" />
  </head>
  <body>
    <section class="user-login">
      <video src="/static/images/0_Surgery_Hospital_3840x2160.mov" autoplay loop muted playsinline></video>
      <div class="user-content">
       <div class="user-content-item">
         <div class="login-logo mb-3 text-center">
          <img src="/static/images/ilaj Dental Care Logo.png" alt="logo-image" />
        </div>
        <div class="login-head text-center">
          <h2 class="fw-bold mb-0">Login to Hospital</h2>
          <p class="text-muted">
            please enter your username and password to login!
          </p>
        </div>
        <div class="login-input">
            <form action="" method="POST">
                {% csrf_token %}
          <div class="login-input-user mb-2">
            <label for="text" class="form-label" name="username">Username</label>
            <input
              type="username"
              class="form-control"
              aria-describedby="passwordHelpBlock"
            />
          </div>
          <div class="login-input-user">
            <label for="inputPassword5" class="form-label" name="password">Password</label>
            <input
              type="password"
              id="inputPassword5"
              class="form-control"
              aria-describedby="passwordHelpBlock"
            />
          </div>
          <div class="submit-button text-center mt-4">
            <button type="submit" class="btn btn-danger" style="width: 100%;">Submit</button>
          </div>
          </form>
        </div>
       </div>
      </div>
    </section>

    <script src="/static/login.js?v=1"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
 